.recipe {
    max-width: 1200px;
    /* min-width: 300px; */
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px ;
    box-sizing: border-box;
  }
  
  .recipe ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 30px;
    margin-top: 3px 0;
  }
  .recipe li {
    list-style-type: circle;
    /* margin-right:200px; */
    margin-left: 0px;
    color: #777;
  }
  .recipe li::after {
    content: ",";
  }
  .recipe li:last-child::after {
    content: ".";
  }
  .recipe button {
    border: 0;
    cursor: pointer;
    color: rgb(141, 131, 25);
    text-decoration: none;
    display: block;
    background: #e2e2e2;
    font-size: 0.7em;
    text-align: center;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0;
  }
  .method {
    text-align: left;
    line-height: 1.5em;
  }

  /* dark mode */
.recipe.dark{
  background: #555;
  color: #e4e4e4;
}
.recipe.dark li{
  color: #d9d8d8
}