.recipe {
    max-width: 900px;
    /* min-width: 300px; */
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px ;
    box-sizing: border-box;
  }
  
  .recipe ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 30px;
    margin-top: 3px 0;
  }
  .recipe li {
    list-style-type: circle;
    /* margin-right:200px; */
    margin-left: 0px;
    color: #777;
  }
  .recipe li::after {
    content: ",";
  }
  .recipe li:last-child::after {
    content: ".";
  }
  .method {
    text-align: left;
    line-height: 1.5em;
  }